@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Syne", sans-serif;
    background: url(../images/abstract-bkg.png) no-repeat center center fixed;
    background-size: cover;
}

html {
    scroll-behavior: smooth;
}

/* HEADER SECTION */
.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.nav-container h1 {
    color: hsla(39, 93%, 95%, 1);
}

.nav-container ul {
    list-style: none;
    display: flex;
    gap: 20px;
    letter-spacing: 3px;
}

.nav-container ul li a {
    text-decoration: none;
    color: black;
    transition-duration: .3s;
    font-size: 18px;
}

.nav-container ul li a:hover {
    color: #e85a4f;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.middle-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.middle-links span{
    color: #e85a4f;
    padding-left: 50px;
    font-weight: bolder;
}

.right-links {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* HERO SECTION */
#hero-section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: black;
    margin-bottom: 100px;
}

.hero-text span {
    color: #e85a4f;
}

.hero-text h2 {
    font-size: 40px;
}

.hero-text h1 {
    font-size: 48px;
}

.hero-text h3 {
    font-size: 32px;
}


/* BIO SECTION */
.bio-row-1 {
    display: flex;
    align-items: center;
    margin: 100px;
    gap: 20px;
}

.bio-description h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.bio-description span {
    color: #e85a4f;
    margin-right: 5px;
}

.bio-description p {
    font-size: 30px;
}

.bio-row-1 img {
    width: 400px;
    height: 100%;
}

/* BIO - Hobbies */
.bio-row-2 {
    margin: 100px;
}

.bio-row-2 h2 {
    font-size: 40px;
    /* color: #e85a4f; */
    text-align: center;
}

.hobbies-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.hobbies-container h3 {
    font-size: 30px;
}

.col-1-row-1 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.col-1-row-1 img {
    height: 50px;
    width: 50px;
}

.col-1-row-2 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.col-1-row-2 img {
    height: 50px;
    width: 50px;
}

.col-1-row-3 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.col-1-row-3 img {
    height: 50px;
    width: 50px;
}

.col-2-row-1 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.col-2-row-1 img {
    height: 50px;
    width: 50px;
}

.col-2-row-2 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.col-2-row-2 img {
    height: 50px;
    width: 50px;
}

.col-2-row-3 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.col-2-row-3 img {
    height: 50px;
    width: 50px;
}

/* WORK SECTION */




/* RESUME SECTION */

.resume-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
iframe {
    margin: 50px 100px 100px 100px;
}

/* CONTACT SECTION */
.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

form {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3 {
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button {
    padding: 15px;
    background: #e85a4f;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
